#p1{
background-color: lightpink;
text-align: left;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: italic;
font-size: 20px;
text-transform: lowercase;
}
#p2{
color:rgb(235, 24, 24);

text-shadow: 6px 6px 6px white;
text-decoration: underline;
text-align: right;
text-transform: capitalize;
}
#p3{
    color:#f5f9fa;
    
        text-shadow:5px 5px 5px white ;
    text-decoration: overline;
    text-align: start;
    text-transform: uppercase
}

#img1
{
    width: 300px; 
    height:300px;  
    object-fit: cover; 
    border: 2px solid rgb(240, 234, 234);
} 

#img2{

     width: 300px;  
    height:300px; 
    object-fit:scale-down;
    border: 2px solid rgb(240, 234, 234);
}
.img3{

    width: 300px; 
    height: 300px; 
    object-fit:contain;
    border: 2px solid rgb(240, 234, 234);
}
body{
    background-image: url("17.jpeg");
}
/* #pre1{
    width: 300px;
    height: 200px; 
    border: 2px solid rgb(240, 234, 234); 
    overflow: hidden;
} */
 .pid
 {
    color:wheat;
    background:linear-gradient(to right, red,green,violet,blue);
    text-wrap: wrap;
    word-spacing: 10px;
    box-shadow: 4px 4px 4px red;
 }