.bg1{
    background-image: url('OIP.jpeg');
    
    }
    .bg2
    {
        background-image: url('OIP\ \(1\).jpeg');
    }
    .bg3{
        background-image: url(OIP\ \(2\).jpeg);
    }
    .bg4{
        background-image: url(OIP\ \(3\).jpeg);
    }
    .bg5
    {
        background-image: url(OIP\ \(4\).jpeg);
    }
    .bg1,.bg2,.bg3,.bg4,.bg5{
              /* height: 100%;
              width: 100%; */
              background-size: cover;
              background-repeat: no-repeat;

    }